@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;1,400&display=swap");


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

div{
	display: flex;
	flex-direction: column;
	text-align:center;
}

body{
	margin: 0;
	color: white;
	font-family: "Kanit";
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	justify-content: space-between;
	align-items: center;
	background: #2D2C30;
	background-image: url("./src/assets/stars.svg");
	background-size: cover;

}

form{
	display: flex;

	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: min-content;
}

/**

div,
.close {
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 8px;
	margin: 1rem;
}

 {






.card {
	position: absolute;
	width: content;
	padding: 0;
	position: absolute;
	background: rgb(255, 255, 255);
	background-position: -1100px -200px;
	border-radius: 15px;
	color: black;
	visibility: hidden;
}

.top,
.middle,
.image,
.identify {
	margin: 0;
	padding: 0.3rem 1rem;
}

#nametop {
	margin: auto 0;
	border: #000000 solid 2px;
	border-radius: 10px;
	padding: 0.3rem;
	width: max-content;
	height: max-content;
	justify-content: end;
}

.middle,
.top {
	flex-direction: row;
	justify-content: space-between;
	text-transform: uppercase;
}

.top {
	margin: 0.3rem 1rem;
	font-family: "Chakra Petch";
}

#namecard {
	margin: 0;
}

.datacard {
	justify-content: center;
	align-items: start;
	height: max-content;
}

.image {
	height: 200px;
	width: min-content;
	border: solid black 10px;
	border-radius: 10px;
	justify-content: end;
	align-items: start;
	padding: 0;
	padding-left: 0.3rem;
	background-color: rgb(255, 255, 255);
}

#card {
	visibility: hidden;
	background-image: url(/assets/bkcard.png);
	background-position: center;
}

.content-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: max-content;
	height: max-content;
}

#nametop {
	color: red;
	font-weight: bold;
}

.btns {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	max-height: min-content;
	margin: 0;
}

#formbtn {
	visibility: hidden;
}

label {
	height: max-content;
	margin: 0.5rem;
}

header {
	color: white;
	text-align: center;
}

section {
	background: #1f041f;
	border-radius: 10px;
	margin: auto;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

input {
	width: 80%;
	min-width: min-content;
	margin: 0.5rem;
	padding: 0.3rem;
	border-radius: 5px;
	border: 1px solid blueviolet;
	height: max-content;
}

.button {
	display: flex;
	flex-direction: row;
	margin: 0;
	justify-content: center;
	align-items: center;
	position: initial;
}

.buttonform {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0;
}

#res {
	margin: 0;
	text-align: center;
}

.btn {
	padding: 0.7rem;
	color: white;
	background-color: #3e1555;
	border: none;
	min-width: 40vh;
}

.btn:hover {
	background-color: #603578;
}
#btnform {
	margin: 0;
}
