header{
    display: flex;
    flex-direction: row;
    margin: 0;
}

h1{
    display: flex;
    margin: 1rem 0.2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
}

span{
    color: #925391;
    text-transform: uppercase;
}