header{
    display: flex;
    flex-direction: row;
    margin: 0;
}

h1{
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

span{
    color: #925391;
    text-transform: uppercase;
}

.fontSize {
    font-size: 1rem
}